.category-card {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $dark;

    &__article {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 20px;
    }

    &__image {
        width: 100%;
        height: 100%;
        padding-bottom: 18px;
    }

    &__date {
        color: $semi-dark;
    }

    &__button {
        border: none;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        color: $dark;
        background-color: transparent;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        gap: 8px;

        svg {
            width: 25px;
            height: 25px;
        }

        svg:hover {
            fill: var(--color-texto);
        }
    }

    &__button:hover {
        color: var(--color-texto);
    }

}
