$color_1: #fff;
$color_2: red;
$color_3: rgb(176, 146, 71);
$font-family_1: 'Oswald';
$font-family_2: 'Quicksand';
$background-color_1: rgb(176, 146, 71);
$background-color_2: black;
$background-color_3: #000;
$background-color_4: #202020;

.header {
	width: 100%;
	background-color: var(--color-dark-empresa);

	&__img-logo {
		width: 70%;
	}

	&__session {
		display: flex;
		gap: 16px;
		a {
			color: $light;
		}
	}
}
.navbar-top{
    font-family: 'Quicksand';
	color: $color_1;
	font-family: $font-family_2;
	font-size: 20px;
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width:$mobile) {
    .navbar-top {
		font-size: 14px;
		flex-direction: column;
		gap: 12px;
		align-items: center;
	}
}