$font-family_2: 'Quicksand';

.header {
	width: 100%;
	background-color: var(--color-dark-empresa);

	&__img-logo {
		width: 70%;
	}

	&__session {
		display: flex;
		gap: 16px;
		a {
			color: $light;
		}
	}
}
.navbar-top{
    font-family: 'Quicksand';
	color: $color_1;
	font-family: $font-family_2;
	font-size: 20px;
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width:$mobile) {
    .navbar-top {
		font-size: 14px;
		flex-direction: column;
		gap: 12px;
		align-items: center;
	}
}