.news-card{
    border-radius: 8px;
    height: 16em;
    overflow: hidden;
    position: relative;
    &__card-img{
        height: 100%;
        display: block;
        object-fit: cover;
        position: relative;
        transition: transform 3s ease;
        width: 100%;
    }
    &__text-wrap{
        bottom: 0;
        color: $light;
        padding: 1rem;
        position: absolute;
        transition: background-color 1.5s ease;
        &__title{
            letter-spacing: 0.5px;
            line-height: 14px;
            transition: 1s ease;
        }
        &__details-wrap{
            display: -webkit-box;
            font-family: 'arial';
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 1.5s ease, opacity 1s ease;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        &__excerpt{
            color: $light;
            font-size: 13px;
            letter-spacing: 0.5px;
            padding-top: 10px;
        }
        &__read-more{
            backface-visibility: hidden;
            border-radius: 0.3rem;
            color: #bbb;
            display: block;
            font-size: 0.8rem;
            margin-left: auto;
            padding: 0.4rem 0.6rem;
            position: relative;
            text-decoration: none;
            width: 7rem;
            -webkit-backface-visibility: hidden;
            z-index: 2;
        }

        &:hover {
            background:transparent linear-gradient(177deg,transparent 5%,rgba(0,0,0,1)) 0 0 no-repeat padding-box;;
            .news-card__text-wrap__details-wrap {
                max-height: 20rem;
                opacity: 1;
            }
        } 
    }
}
