.not-results-found {
    align-content: center;
    display: grid;
    justify-content: center;
    justify-items: center;  
    height: 60vh;
    h1 {
        align-items: end;
        display: flex;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    p {
        font-weight: 400;
        font-size: 1.333rem;
        letter-spacing: 0.01rem;
        text-align: center;
    }

    &__link{
        border-radius: 8px;
        box-shadow: 0 0 10px rgb(0 0 0 / 25%);
        margin-top: 20px;
        padding: 10px 35px;
        transition: 1s;
    }
    &__link:hover{
        background: rgba(255, 255, 255, 0.05);
        color: $semi-gray;
        transition: 1s ease-in-out;
    }
}