
.premiun {
    background-color: $gold-light;
    display: grid;
    height: 250px;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 20px 5px;
    margin: 20px;

    &__premiun-img{
        width: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 1;
        opacity: 1;
        height: 200px;
    }
    &__text-wrap{
        
        float: right;
        text-decoration: none;
        &__title{
            color: $dark1;
            font-weight: 600;
            margin: 35px 0;
            overflow: hidden;
        }
        &__autor{
            font-size: 15px;
 
        }
    }

    @media screen and (min-width:$min-tablet) {
        .premiun {
        
            &__premiun-img {
                height: 250px;
            }


        }
    }
} 

.premiun__text-wrap__autor {
    text-align: center;
    padding-top: 20px;
}