.navbar {
    background: $dark1;
    z-index: 1;
    width: 100%;

    &__sidebar-menu{
        display: flex;
        height: 50px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 20px;
    }
    &__menu-items{
        align-items: center;
        display: flex;
        gap: 1em;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        text-align: center;
    }
    &__item-toggle {
        text-transform: uppercase;
        width: max-content;
        line-height: 50px;
        .nav-active{
            color: var(--color-texto);
        }
        a{ 
            color: $light;
            text-decoration: none;
            position: relative;
        }
        a::after{
            content: '';
            position: absolute;
            background: var(--color-texto);
            height: 2px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.3s;
        }
        a:hover{
            color: var(--color-texto);
        }
        a:hover:after{
            width: 100%;
        }
    }
    &__hambur{
        display: none;
    }

    @media screen and (max-width:1024px) {
        &__hambur {
            top: -7.3em;
            bottom: 20px;
            cursor: pointer;
            display: block;
            left: 4.3rem;
            font-size: 1.8rem;
            padding: 4px;
            position: absolute;
            text-align: initial;
            transform: translate(-100%, 50%);
            &__icon-menu{
                align-items: center;
                display: flex;
                justify-content:center;
                height:30px;
                position:relative;
                text-align: initial;
                width:30px;
            }
            &__draw{
                padding: 0%!important;
                background:$light;
                border-radius:10px;
                height:3px;
                position:absolute;
                width:30px;
                display: block !important;
            }

            &__draw::before {
                content: '';
                height:3px;
                width:30px;
                border-radius:10px;
                background: $light;
                position:absolute;
                top: -8px;
            }
            &__draw::after {
                content: '';
                height:3px;
                width:30px;
                border-radius:10px;
                background: $light;
                position:absolute;
                top: 8px;
            }
            &__close{
                width:30px;
                height:30px;
                position:relative;
                display: flex;
                justify-content:center;
                align-items: center;
                position: absolute;
                top: 15px;
                right: 20px;
            }
            &__line1, &__line2{
                width:27px;
                height:3px;
                background:$dark1;
                padding: 0!important;
                display: block!important;
            }
            &__line1 {
            transform: rotateZ(-48deg)
            }
            &__line2{
                position:absolute;
                transform: rotateZ(45deg)
            }
        }
        &__menu-items {
            flex-direction: column;
            left: -70%;
            margin-top: 0;
            position: fixed;
            top: 0;
            transition: all 0.5s ease;
            width: 70%;
            bottom: 0;
            a{ 
                color: $dark1;
                font-weight: 600;
            }
        }
        .active {
            background: var(--color-background);
            left: 0;
            transition: all 0.6s ease;
            padding-left: 0;
            z-index: 1;
            bottom: 0;
        }
       
    }
}