$mobile: 639px;     // 1°
$tablet: 640px;     // 2°
$min-tablet: 640px;     // 3°
$max-desktop: 1366px;   // 4°
$desktop: 1024px;   // 5°


@mixin tablet {
	@media screen and (max-width: $tablet){
		@content;
	}
}


@mixin desktop {
	@media screen and (max-width: $desktop){
		@content;
	}
}


@mixin min-tablet {
	@media screen and (min-width: $tablet){
		@content;
	}
}

